{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}My Profile{% endblock %}
{% block page_heading %}My Profile{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-6">
    <div class="wh-card p-4">
      <h5 class="mb-3">Account Details</h5>
      <form method="post">
        {% csrf_token %}
        <div class="row g-3">
          {% for field in form %}
          <div class="col-md-6">
            <label class="form-label small fw-semibold">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}<div class="text-danger small">{{ field.errors|striptags }}</div>{% endif %}
          </div>
          {% endfor %}
        </div>
        <button class="btn btn-primary mt-4"><i class="fa-solid fa-check me-1"></i> Save Changes</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
